obj
bin
*.depend
*_build_log.html
*.layout
*.save-failed
__history/
*.cbp
*.png
.vscode
.clangd
build

tests/bin
tests/build
tests/obj
tests/*.cbp
tests/*.depend
tests/*build_log.html
tests/cairo-wrap

CMakeSettings.json